.description {
  color: $white;
  @include accent-font(500);
  @include base-aligns();
  @include base-margins();
  @include base-weight();
  &__size {
    &_l {
      font-size: 38px;
    }
    &_m {
      font-size: 16px;
    }
    &_s {
      font-size: 12px;
    }
  }
}
