.admin {
  background-color: #0F273C;
  padding-top: 80px;
  min-height: 100vh;
  padding-bottom: 120px;
  &_loading {
    align-items: center;
    justify-content: center;
  }
  &__container {
    @include container-size();
  }

  &__rejected {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    min-height: 70vh;
  }

  &__header {
    padding: 40px 0;
  }

  &__header-summary {
    flex: 1 1 auto;
    width: auto;
    color: white;
    font-size: 18px;
    font-weight: 500;

    p {
      margin-left: 15px;
    }
  }

  .ux-button {
    width: auto;
    height: 40px;
  }
}