$transitionHover: ease-in 200ms;
$transitionActive: ease-in 150ms;

$btn-void: linear-gradient(to top, #3eb4f8, #3e6ef8), $white, linear-gradient(to top, #3596ce, #355fd8), $white, linear-gradient(to top, #29aefb, #2f63f9), $white, $grey, $white;
$btn-fill: transparent, $white, #ff510047, $white, transparent, $white, $grey, $white;
@mixin btn-style(
  $colorBgDefault,
  $colorDefault,
  $colorBgHover,
  $colorHover,
  $colorBgActive,
  $colorActive,
  $colorBgDisabled,
  $colorDisabled
) {
  background: $colorBgDefault;
  color: $colorDefault;
  &:hover {
    background: $colorBgHover;
  }

  &:active {
    background: $colorBgActive;
    color: $colorActive;
  }

  &:disabled {
    background: $colorBgDisabled;
    cursor: not-allowed;
    user-select: none;
  }
}

.ux-button {
  @include base-sizes();
  @include base-margins();
  height: 27px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  border-radius: 5px;
  border: 2px solid #065baa;
  @include main-font(600);
  text-transform: uppercase;
  &:focus {
    outline: none;
  }

  &:hover {
    transition: $transitionHover;
  }

  &:active {
    transition: $transitionActive;
  }

  &__style {
    &_void {
      @include btn-style($btn-void...);
    }
    &_fill {
      @include btn-style($btn-fill...);
      border: 1px solid $blue;
      &:hover {
        border: 1px solid $blue;
      }
    }
  }

}
