.title {
  @include base-aligns();
  @include base-margins();
  @include base-weight();
  color: $white;
  &__size {
    &_l {
      font-size: 72px;
    }
    &_m {
      font-size: 28px;
    }
    &_s {
      font-size:  18px;
    }
  }
  &__color {
    &_white {
      color: $white;
    }
    &_orange {
      color: $blue;
    }
  }
}
