.app {
  &_indev {
    display: flex;
    flex-direction: column;
    padding-top: 40vh;
    align-items: center;
    color: white;

    > * {
      margin-bottom: 10px;
    }
  }
}

.loading__app {
  height: 100vh;
  .header__logo {
    margin-bottom: 40px;
  }
}

.footer {
  z-index: 2;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: rgba(11, 14, 19, 0.85);
  padding: 20px 0;
  p {
    text-align: center;
    font-size: 16px;
    margin-bottom: 5px;
  }
  a {
    font-size: 16px;
    color: $white;
    &:hover {
      text-decoration: underline;
    }
  }
}

#root {
  position: relative;
}